{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script href="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <div class="card align-items-center">
        <div class="card-body">
            <div class="card-title">
                <h1>{{date}}</h1>
            </div>
            <div class="card-text">
                Ejercicio
                <div class="row">
                    {% for letra in letras %}
                        <div class="col">
                            <p>Hola</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>